.body {
  background-image: url('../../../assets/registerbackground.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.registerForm {
  width: 100%;
  max-width: 800px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
select,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.password-input-container {
  position: relative;
}

.password-toggle {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
}

button[type="submit"] {
  background-color: #f90;
  color: white;
  width: 20%;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

.text-danger {
  color: red;
  font-size: 0.875em;
}

@media (max-width: 768px) {
  .registerForm {
      padding: 15px;
  }

  button[type="submit"] {
      padding: 10px;
  }
}

@media (max-width: 576px) {
  .registerForm {
      padding: 10px;
  }

  button[type="submit"] {
      padding: 8px;
  }
}
