
<div class="register-container">
    <form class="register-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <input type="text" formControlName="username" placeholder="Username">
        <div *ngIf="registerForm.get('username').invalid && (registerForm.get('username').dirty || registerForm.get('username').touched)">
            <p class="error-message">Username is required</p>
        </div>
        <input type="email" formControlName="email" placeholder="Email">
        <div *ngIf="registerForm.get('email').invalid && (registerForm.get('email').dirty || registerForm.get('email').touched)">
            <p class="error-message">Please enter valid email id</p>
        </div>
        <input type="password" formControlName="password" placeholder="Password">
        <div *ngIf="registerForm.get('password').invalid && (registerForm.get('password').dirty || registerForm.get('password').touched)">
            <p class="error-message">Please enter strong password</p>
        </div>
        <input type="password" formControlName="confirmPassword" placeholder="Confirm Password">
        <div *ngIf="registerForm.get('confirmPassword').invalid && (registerForm.get('confirmPassword').dirty || registerForm.get('confirmPassword').touched)">
            <p class="error-message">Confirm your Password</p>
        </div>
        <button type="submit" [disabled]="registerForm.invalid">Register</button>
        <br>
       <br>

        <button type="button" (click)="resetForm()">Reset</button>
    </form>
</div>

  