<nav class="menu-bar">
    <ul>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/about-us">About US</a></li>
      <li><a routerLink="/best-deal">Today's Deals</a></li>
      <li><a routerLink="/our-service">Service</a></li>
      <li><a href="/our-products">Product</a></li>
      <li><a href="#">Sell</a></li>
      <li><a href="#">Registry</a></li>
      <li><a href="#">Free Shipping</a></li>
      <!-- Add more menu items as needed -->
    </ul>
  </nav>
<!-- menu-bar.component.html -->


