body {
  background-color: lightyellow;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  flex-wrap: wrap;
}

.logo {
  width: 150px; /* Adjust size as needed */
  margin-right: 20px;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input[type="text"] {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: 16px;
}

.search-bar button {
  padding: 10px 20px;
  background-color: #f90;
  border: 1px solid #f90;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.search-bar button:hover {
  background-color: #f60;
  border-color: #f60;
}

.auth {
  display: flex;
  align-items: center;
}

.auth-link {
  margin-left: 10px; /* Adjust spacing between login/register links */
  text-decoration: none;
  color: white; /* Adjust color */
  cursor: pointer;
  font-weight: bold;
}

.auth-link:hover {
  color: #f90; /* Adjust hover color */
}

.fa-shopping-cart {
  margin: 0 5px;
}

.cart-icon-container {
  position: relative;
  display: inline-block;
}

.cart-count {
  position: absolute;
  top: -13px; /* Adjust vertical position */
  right: 34px; /* Adjust horizontal position */
  background-color: #f00; /* Adjust background color */
  color: white; /* Adjust text color */
  border-radius: 50%; /* Make it a circle */
  padding: 2px 8px; /* Adjust padding */
  font-size: 10px; /* Adjust font size */
}

@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .logo {
    margin-bottom: 10px;
  }

  .search-bar {
    width: 100%;
  }

  .auth {
    margin-top: 10px;
    flex-direction: column;
    align-items: flex-start;
  }

  .auth-link {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .cart-count {
    top: -12px; /* Adjust vertical position for smaller screens */
    right: 35px; /* Adjust horizontal position for smaller screens */
    font-size: 8px; /* Adjust font size for smaller screens */
    padding: 3px 6px; /* Adjust padding for smaller screens */
  }
}
