<div class="body">
  <h1 style="text-align: center;"><B>Login Page</B></h1>

<div class="login-container">
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <input type="text" formControlName="username" placeholder="Username" #txtusername />
        <div *ngIf="loginForm.get('username').invalid && (loginForm.get('username').dirty || loginForm.get('username').touched )"  >
            <p class="error-message">Username is required</p>
        </div>
        <input type="password" formControlName="password" placeholder="Password" #txtpassword />
        <div *ngIf="loginForm.get('password').invalid && (loginForm.get('password').dirty || loginForm.get('password').touched)">
            <p class="error-message">Password is required</p>
        </div>
        <button (click)="login(txtusername.value, txtpassword.value)" [disabled]="loginForm.invalid">Login</button>
    </form>
</div>
</div> 


