<!-- <div class="service">
    <h2 style="text-align: center;" >Our Services</h2><br>
    <div class="service-item">
      <img src="../../../assets/service1.jpg" alt="Service 1">
      <div class="service-details">
        <h3>Manufacturing Doors</h3>
        <p>Molded doors are constructed by pressing or molding two panels together to form a particular style. Molded doors are available in both a smooth or textured surface and come pre-primed. These doors are ready for painting, but because they are primed, they cannot be stained. Opposite of molded doors are flush doors.</p>
      </div>
    </div>
    <div class="service-item">
      <img src="../../../assets/service2.jpg" alt="Service 2">
      <div class="service-details">
        <h3>Manufacturing Bed</h3>
        <p>Wood frames can come in a range of woods like oak, walnut, maple, and pine. Proper care and maintenance ensure a solid wood frame lasts 20-30 years. The key is paying attention to the joinery methods used in construction</p>
      </div>
    </div>
    <div class="service-item">
        <img src="../../../assets/sofa.webp" alt="Service 3">
        <div class="service-details">
          <h3>Manufacturing Sofa</h3>
          <p>The construction process will involve the frame sections being cut to shape and then securely joined in the correct order using dowel glue joints, screws and other necessary tools. Slatting will typically be placed across seating sections to support the springs and make the area stronger</p>
        </div>
      </div>
  </div> -->

  



  <!-- <section class="dark">
    <div class="container py-4">
      <h1 class="h1 text-center" id="pageHeaderTitle">Our Services</h1>
  
      <article class="postcard dark blue">
        <a class="postcard__img_link" href="#">
          <img class="postcard__img" src="../../../assets/service1.jpg" alt="Image Title" />
        </a>
        <div class="postcard__text">
          <h1 class="postcard__title blue"><a href="#">Manufacturing Doors</a></h1>
          <div class="postcard__preview-txt">Wood frames can come in a range of woods like oak, walnut, maple, and pine. Proper care and maintenance ensure a solid wood frame lasts 20-30 years. The key is paying attention to the joinery methods used in construction</div>
        </div>
      </article>
      <article class="postcard dark red">
        <a class="postcard__img_link" href="#">
          <img class="postcard__img" src="https://picsum.photos/501/500" alt="Image Title" />	
        </a>
        <div class="postcard__text">
          <h1 class="postcard__title red"><a href="#">Podcast Title</a></h1>
          <div class="postcard__subtitle small">
            <time datetime="2020-05-25 12:00:00">
              <i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
            </time>
          </div>
          <div class="postcard__bar"></div>
          <div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
          <ul class="postcard__tagbox">
            <li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
            <li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
            <li class="tag__item play red">
              <a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
            </li>
          </ul>
        </div>
      </article>
      <article class="postcard dark green">
        <a class="postcard__img_link" href="#">
          <img class="postcard__img" src="https://picsum.photos/500/501" alt="Image Title" />
        </a>
        <div class="postcard__text">
          <h1 class="postcard__title green"><a href="#">Podcast Title</a></h1>
          <div class="postcard__subtitle small">
            <time datetime="2020-05-25 12:00:00">
              <i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
            </time>
          </div>
          <div class="postcard__bar"></div>
          <div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
          <ul class="postcard__tagbox">
            <li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
            <li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
            <li class="tag__item play green">
              <a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
            </li>
          </ul>
        </div>
      </article>
      <article class="postcard dark yellow">
        <a class="postcard__img_link" href="#">
          <img class="postcard__img" src="https://picsum.photos/501/501" alt="Image Title" />
        </a>
        <div class="postcard__text">
          <h1 class="postcard__title yellow"><a href="#">Podcast Title</a></h1>
          <div class="postcard__subtitle small">
            <time datetime="2020-05-25 12:00:00">
              <i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
            </time>
          </div>
          <div class="postcard__bar"></div>
          <div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
          <ul class="postcard__tagbox">
            <li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
            <li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
            <li class="tag__item play yellow">
              <a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
            </li>
          </ul>
        </div>
      </article>
    </div>
  </section> -->
  
  <section class="light">
    <div class="container py-2">
      <div class="h1 text-center text-dark" id="pageHeaderTitle">Our Services</div>
  
      <div class="postcard light blue">
          <img class="postcard__img" src="../../../assets/door1.jpg" alt="Image Title" />

        <div class="postcard__text t-dark">
          <h1 style="color: black;">Manufacturing Doors</h1>
          <div class="postcard__preview-txt" style="color: black;">Molded doors are constructed by pressing or molding two panels together to form a particular style. Molded doors are available in both a smooth or textured surface and come pre-primed. These doors are ready for painting, but because they are primed, they cannot be stained. Opposite of molded doors are flush doors.</div>
        </div>
      </div>
      <article class="postcard light red">
        <a class="postcard__img_link" href="#">
          <img class="postcard__img" src="../../../assets/bed1.jpeg" alt="Image Title" />	
        </a>
        <div class="postcard__text t-dark">
          <h1 style="color: black;">Manufacturing Bed</h1>
          <div class="postcard__preview-txt" style="color: black;">Wood frames can come in a range of woods like oak, walnut, maple, and pine. Proper care and maintenance ensure a solid wood frame lasts 20-30 years. The key is paying attention to the joinery methods used in construction</div>
        </div>
      </article>
      <article class="postcard light red">
        <a class="postcard__img_link" href="#">
          <img class="postcard__img" src="../../../assets/sofa1.png" alt="Image Title"  style="width: fit-content;"/>	
        </a>
        <div class="postcard__text t-dark">
          <h1 style="color: black;">Manufacturing Sofa</h1>
          <div class="postcard__preview-txt" style="color: black;">The construction process will involve the frame sections being cut to shape and then securely joined in the correct order using dowel glue joints, screws and other necessary tools. Slatting will typically be placed across seating sections to support the springs and make the area stronger</div>
        </div>
      </article>
      <article class="postcard light red">
        <a class="postcard__img_link" href="#">
          <img class="postcard__img" src="../../../assets/table2.jpg" alt="Image Title" />	
        </a>
        <div class="postcard__text t-dark">
          <h1 style="color: black;">Manufacturing Table</h1>
          <div class="postcard__preview-txt" style="color: black;">Wood frames can come in a range of woods like oak, walnut, maple, and pine. Proper care and maintenance ensure a solid wood frame lasts 20-30 years. The key is paying attention to the joinery methods used in construction</div>
        </div>
      </article>
      <article class="postcard light red">
        <a class="postcard__img_link" href="#">
          <img class="postcard__img" src="../../../assets/chair-home.png" alt="Image Title" />	
        </a>
        <div class="postcard__text t-dark">
          <h1 style="color: black;">Manufacturing Chair</h1>
          <div class="postcard__preview-txt" style="color: black;">Wood frames can come in a range of woods like oak, walnut, maple, and pine. Proper care and maintenance ensure a solid wood frame lasts 20-30 years. The key is paying attention to the joinery methods used in construction</div>
        </div>
      </article>
    </div>
  </section>





  