<div class="service">
    <h2 style="text-align: center;" >Our Services</h2><br>
    <div class="service-item">
      <img src="../../../assets/service1.jpg" alt="Service 1">
      <div class="service-details">
        <h3>Manufacturing Doors</h3>
        <p>Molded doors are constructed by pressing or molding two panels together to form a particular style. Molded doors are available in both a smooth or textured surface and come pre-primed. These doors are ready for painting, but because they are primed, they cannot be stained. Opposite of molded doors are flush doors.</p>
      </div>
    </div>
    <div class="service-item">
      <img src="../../../assets/service2.jpg" alt="Service 2">
      <div class="service-details">
        <h3>Manufacturing Bed</h3>
        <p>Wood frames can come in a range of woods like oak, walnut, maple, and pine. Proper care and maintenance ensure a solid wood frame lasts 20-30 years. The key is paying attention to the joinery methods used in construction</p>
      </div>
    </div>
    <div class="service-item">
        <img src="../../../assets/service3.webp" alt="Service 3">
        <div class="service-details">
          <h3>Manufacturing Sofa</h3>
          <p>The construction process will involve the frame sections being cut to shape and then securely joined in the correct order using dowel glue joints, screws and other necessary tools. Slatting will typically be placed across seating sections to support the springs and make the area stronger</p>
        </div>
      </div>
    <!-- Add more service items as needed -->
  </div>