<div class="container" *ngIf="showProduct">
  <div class="bg-white rounded d-flex align-items-center justify-content-between" id="header">
    <button class="btn btn-hide text-uppercase" type="button" (click)="toggleFilterBar()">
      <span class="fas" [ngClass]="{'fa-angle-left': !isFilterBarCollapsed, 'fa-angle-right': isFilterBarCollapsed}"
        id="filter-angle"></span>
      <span>{{ isFilterBarCollapsed ? 'Hide filters' : 'Show filters' }}</span>
    </button>
  </div>
  <div id="content" class="my-5">
    <div id="filterbar" [ngClass]="{'collapse': isFilterBarCollapsed}">
      <div class="box border-bottom">

        <div class="form-group">
          <label for="category">Category:</label>
          <select class="form-control" id="category" [(ngModel)]="selectedCategory" (change)="oneChangeCat()">
            <option default value="">All</option>
            <option *ngFor="let category of categories" [value]="category.categories">{{ category.categories }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="subcategory">Subcategory:</label>
          <select class="form-control" id="subcategory" [(ngModel)]="selectedSubcategory" (change)="oneChangeSubCat()">
            <option value="">All</option>
            <option *ngFor="let subcategory of subcategories" [value]="subcategory.subcategories">{{
              subcategory.subcategories }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="brand">Brand:</label>
          <select class="form-control" id="brand" [(ngModel)]="selectedBrand">
            <option value="">All</option>
            <option *ngFor="let brand of brands" [value]="brand">{{ brand }}</option>
          </select>
        </div>
        <label class="price" for="priceRange">Price Range:</label>
        <div class="input-container">
          <input type= "number" [(ngModel)]="minValue"  placeholder="₹0">
          <input type="number" [(ngModel)]="maxValue" placeholder="₹200000">
        </div>

      </div>
      <div class="form-group text-center">
        <div class="btn-group" data-toggle="buttons">
          <button class="btn btn-success form-check-label active" (click)="applyFilter()"> Apply </button>
        </div>
      </div>



    </div>


  </div>
  <div id="products">
    <div class="row mx-0">
      <div class="col-lg-4 col-md-6" *ngFor="let data of product">
        <div class="card d-flex flex-column " >
          <div class="card-img"> <img [src]="intialImgUrl + data.image" alt=""> </div>
          <div class="product-name text-center">{{data?.productName}}</div>
          <p class=" constraints">₹{{data?.price}} </p>
          <p class=" constraints ">Avalability: {{data?.availability}}</p>
          <p class=" constraints">Quantity: {{data?.quantity}}</p>


          <div class="" data-toggle="buttons">
            <button class="btn btn-success form-check-label explore-btn" (click)="viewProductDetails(data?.productId)"> View Details
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container" *ngIf="!showProduct">
   <h1>No product Avaialble</h1>
</div>