<section class="py-5" *ngIf="productDetails">
  <div class="container">
    <div class="row gx-5">
      <aside class="col-lg-6">
        <div class="border rounded-4 mb-3 d-flex justify-content-center">
          <a data-fslightbox="mygalley" class="rounded-4" target="_blank" data-type="image"
            [href]="intialImgUrl + productDetails.images[0]">
            <img style="max-width: 100%; max-height: 100vh; margin: auto;" class="rounded-4 fit"
            [src]="intialImgUrl + productDetails.images[0]" />
          </a>
        </div>
        <div class="d-flex justify-content-center mb-3">
          <a data-fslightbox="mygalley" class="border mx-1 rounded-2" target="_blank" data-type="image"
            [href]="intialImgUrl + data" class="item-thumb" *ngFor="let data of productDetails?.images">
            <img width="60" height="60" class="rounded-2" [src]="intialImgUrl + data" />
          </a>
        </div>
        
        <!-- thumbs-wrap.// -->
        <!-- gallery-wrap .end// -->
      </aside>
      <main class="col-lg-6">
        <div class="ps-lg-3">
          <h4 class="title text-dark">
            {{productDetails.productName}}
          </h4>
          <div class="d-flex flex-row my-3">
            <div class="text-warning mb-1 me-2">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <span class="ms-1">
                {{productDetails.rating}}
              </span>
            </div>
            <span class="text-muted"><i class="fas fa-shopping-basket fa-sm mx-1"></i>{{productDetails.totalOrder}} order</span>
            <span class="text-success ms-2">In stock</span>
          </div>

          <div class="mb-3">
            <span class="h5">₹{{productDetails.price}}</span>
          </div>

          <p>{{productDetails.description}}</p>

          <div class="row">
            <dt class="col-3">Type:</dt>
            <dd class="col-9">{{productDetails.type}}</dd>

            <dt class="col-3">Color</dt>
            <dd class="col-9">{{productDetails.color}}</dd>

            <dt class="col-3">Material</dt>
            <dd class="col-9">{{productDetails.material}}</dd>

            <dt class="col-3">Brand</dt>
            <dd class="col-9">{{productDetails.brand}}</dd>
          </div>

          <hr />

          <div class="row mb-4">
            <!-- col.// -->
            <div class="col-md-4 col-6 mb-3">
              <label class="mb-2 d-block">Quantity</label>
              <div class="input-group mb-3" style="width: 170px;">
                <button class="btn btn-white border border-secondary px-3" type="button" id="button-addon1"
                  (click)="decrementQuantity()" data-mdb-ripple-color="dark">
                  <i class="fas fa-minus"></i>
                </button>
                <input type="text" class="form-control text-center border border-secondary" placeholder="1"
                  aria-label="Example text with button addon" aria-describedby="button-addon1" [(ngModel)]="quantity" />
                <button class="btn btn-white border border-secondary px-3" type="button" id="button-addon2"
                  (click)="incrementQuantity()" data-mdb-ripple-color="dark">
                  <i class="fas fa-plus"></i>
                </button>
              </div>
            </div>
          </div>
          <a href="#" class="btn btn-warning shadow-0"> Buy now </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a (click)="addToCart()" class="btn btn-primary shadow-0"> <i class="me-1 fa fa-shopping-basket"></i> Add to cart
          </a>&nbsp;
        </div>
      </main>
    </div>
  </div>
  <div class="container">
    <div class="row gx-4">
      <div class="col-lg-8 mb-4">
        <div class="border rounded-2 px-3 py-2 bg-white">
          <!-- Pills navs -->
          <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
            <li class="nav-item d-flex" role="presentation">
              <a class="nav-link d-flex align-items-center justify-content-center w-100 active"
                href="javascript:void(0)" id="ex1-tab-1" (click)="showTabContent('ex1-pills-1')"
                [class.active]="activeTab === 'ex1-pills-1'" role="tab" aria-controls="ex1-pills-1"
                aria-selected="false">Specification</a>
            </li>
            <li class="nav-item d-flex" role="presentation">
              <a class="nav-link d-flex align-items-center justify-content-center w-100" href="javascript:void(0)"
                id="ex1-tab-2" (click)="showTabContent('ex1-pills-2')" [class.active]="activeTab === 'ex1-pills-2'"
                role="tab" aria-controls="ex1-pills-2" aria-selected="false">Warranty info</a>
            </li>
            <li class="nav-item d-flex" role="presentation">
              <a class="nav-link d-flex align-items-center justify-content-center w-100" href="javascript:void(0)"
                id="ex1-tab-3" role="tab" (click)="showTabContent('ex1-pills-3')"
                [class.active]="activeTab === 'ex1-pills-3'" aria-controls="ex1-pills-3" aria-selected="false">Shipping
                info</a>
            </li>
            <li class="nav-item d-flex" role="presentation">
              <a class="nav-link d-flex align-items-center justify-content-center w-100" href="javascript:void(0)"
                id="ex1-tab-4" role="tab" (click)="showTabContent('ex1-pills-4')"
                [class.active]="activeTab === 'ex1-pills-4'" aria-controls="ex1-pills-4" aria-selected="false">Rating
                </a>
            </li>
          </ul>
          <!-- Pills navs -->

          <!-- Pills content -->
          <div class="tab-content" id="ex1-content">
            <div class="tab-pane mb-2 fade show active" id="ex1-pills-1" role="tabpanel" aria-labelledby="ex1-tab-1">
              <p>
                Accessories shown in the image are only for representation and are not part of the product.
                Depending on your screen settings and resolution on your device there may be a slight variance in fabric
                color and wood polish of the image and actual product.
                Wood grains will vary from product to product .
                Furniture having intricate hand-painted details are individual unique pieces and may have slight
                distinctions and variance between the picture and actual product.
                The Primary material is the main material used to manufacture the product and in addition to the primary
                material there might also be other type of materials used in the manufacturing of the product
              </p>

              <div class="row">
              <div class="col-6">
                <span class="detailsLabel">Dimensions (in Inches)</span><br>
                <span class="detailsValue">{{productDetails?.dimensionInInch}}</span>
              </div>
              <div class="col-6">
                <span class="detailsLabel">Dimensions (cm)</span><br>
                <span class="detailsValue">{{productDetails?.dimensionInCem}}</span>
              </div>
              <div class="col-6">
                <span class="detailsLabel">Assembly</span><br>
                <span class="detailsValue">{{productDetails?.assembly}}</span>
              </div>
              <div class="col-6">
                <span class="detailsLabel">Weight</span><br>
                <span class="detailsValue">{{productDetails?.weight}}</span>
              </div>
              <div class="col-6">
                <span class="detailsLabel">warranty</span><br>
                <span class="detailsValue">{{productDetails?.warranty}}</span>
              </div>
              <div class="col-6">
                <span class="detailsLabel">Storage</span><br>
                <span class="detailsValue">{{productDetails?.storage}}</span>
              </div>
              </div>
            </div>
            <div class="tab-pane fade mb-2" id="ex1-pills-2" role="tabpanel" aria-labelledby="ex1-tab-2">
              Warranty Terms: <br />
              The warranty, as mentioned, on the product is provided by the Merchant.
              What is not covered under this warranty?
              This limited warranty does not apply to:
              normal wear and tear
              cuts or scratches, or damage caused by impacts or accidents
              products that have been stored, assembled or installed incorrectly, used inappropriately,or cleaned using
              the wrong cleaning methods or cleaning products. (eg upholstered furniture will lighten over time if it's
              exposed to direct sunlight)
              No warranty on upholstery/ coverings/ cushion covers
            </div>
            <div class="tab-pane fade mb-2" id="ex1-pills-3" role="tabpanel" aria-labelledby="ex1-tab-3">
              Another tab content or sample information now <br />
              Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
              aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
              commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
              mollit anim id est laborum.
            </div>
            <div class="tab-pane fade mb-2" id="ex1-pills-4" role="tabpanel" aria-labelledby="ex1-tab-4">
              
              <div class="row">
                <div class="col-sm-7">
                  <hr/>
                  <div class="review-block">
                    <div class="row">
                      <div class="col-sm-3">
                        <img src="http://dummyimage.com/60x60/666/ffffff&text=No+Image" class="img-rounded">
                        <div class="review-block-name"><a href="#">nktailor</a></div>
                        <div class="review-block-date">January 29, 2016<br/>1 day ago</div>
                      </div>
                      <div class="col-sm-9">
                        <div class="review-block-rate">
                          <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                          </button>
                          <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                          </button>
                          <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                          </button>
                          <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                          </button>
                          <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                          </button>
                        </div>
                        <div class="review-block-title">this was nice in buy</div>
                        <div class="review-block-description">this was nice in buy. this was nice in buy. this was nice in buy. this was nice in buy this was nice in buy this was nice in buy this was nice in buy this was nice in buy</div>
                      </div>
                    </div>
                    <hr/>
                    <div class="row">
                      <div class="col-sm-3">
                        <img src="http://dummyimage.com/60x60/666/ffffff&text=No+Image" class="img-rounded">
                        <div class="review-block-name"><a href="#">nktailor</a></div>
                        <div class="review-block-date">January 29, 2016<br/>1 day ago</div>
                      </div>
                      <div class="col-sm-9">
                        <div class="review-block-rate">
                          <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                          </button>
                          <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                          </button>
                          <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                          </button>
                          <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                          </button>
                          <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                          </button>
                        </div>
                        <div class="review-block-title">this was nice in buy</div>
                        <div class="review-block-description">this was nice in buy. this was nice in buy. this was nice in buy. this was nice in buy this was nice in buy this was nice in buy this was nice in buy this was nice in buy</div>
                      </div>
                    </div>
                    <hr/>
                    <div class="row">
                      <div class="col-sm-3">
                        <img src="http://dummyimage.com/60x60/666/ffffff&text=No+Image" class="img-rounded">
                        <div class="review-block-name"><a href="#">nktailor</a></div>
                        <div class="review-block-date">January 29, 2016<br/>1 day ago</div>
                      </div>
                      <div class="col-sm-9">
                        <div class="review-block-rate">
                          <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                          </button>
                          <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                          </button>
                          <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                          </button>
                          <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                          </button>
                          <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                          </button>
                        </div>
                        <div class="review-block-title">this was nice in buy</div>
                        <div class="review-block-description">this was nice in buy. this was nice in buy. this was nice in buy. this was nice in buy this was nice in buy this was nice in buy this was nice in buy this was nice in buy</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Pills content -->
        </div>
      </div>
      <div class="col-lg-4">
        <div class="px-0 border rounded-2 shadow-0">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Similar items</h5>
              <div class="d-flex mb-3">
                <a href="#" class="me-3">
                  <img src="https://mdbcdn.b-cdn.net/img/bootstrap-ecommerce/items/8.webp"
                    style="min-width: 96px; height: 96px;" class="img-md img-thumbnail" />
                </a>
                <div class="info">
                  <a href="#" class="nav-link mb-1">
                    Rucksack Backpack Large <br />
                    Line Mounts
                  </a>
                  <strong class="text-dark"> $38.90</strong>
                </div>
              </div>

              <div class="d-flex mb-3">
                <a href="#" class="me-3">
                  <img src="https://mdbcdn.b-cdn.net/img/bootstrap-ecommerce/items/9.webp"
                    style="min-width: 96px; height: 96px;" class="img-md img-thumbnail" />
                </a>
                <div class="info">
                  <a href="#" class="nav-link mb-1">
                    Summer New Men's Denim <br />
                    Jeans Shorts
                  </a>
                  <strong class="text-dark"> $29.50</strong>
                </div>
              </div>

              <div class="d-flex mb-3">
                <a href="#" class="me-3">
                  <img src="https://mdbcdn.b-cdn.net/img/bootstrap-ecommerce/items/10.webp"
                    style="min-width: 96px; height: 96px;" class="img-md img-thumbnail" />
                </a>
                <div class="info">
                  <a href="#" class="nav-link mb-1"> T-shirts with multiple colors, for men and lady </a>
                  <strong class="text-dark"> $120.00</strong>
                </div>
              </div>

              <div class="d-flex">
                <a href="#" class="me-3">
                  <img src="https://mdbcdn.b-cdn.net/img/bootstrap-ecommerce/items/11.webp"
                    style="min-width: 96px; height: 96px;" class="img-md img-thumbnail" />
                </a>
                <div class="info">
                  <a href="#" class="nav-link mb-1"> Blazer Suit Dress Jacket for Men, Blue color </a>
                  <strong class="text-dark"> $339.90</strong>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>