<div class="todays-deal">
    <h2>Today's Deal</h2>
    <div class="deal-item">
      <img src="./../../assets/bed.jpg" alt="Today's Deal 1">
      <div class="deal-details">
        <h3>Wooden Bed</h3>
        <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et consequat lorem. Sed gravida ultricies eros.</p>
        <p>Regular Price: $600</p>
        <p>Today's Price: $500</p>
        <button class="add-to-cart">Add to Cart</button>
      </div>
    </div>
    <div class="deal-item">
      <img src="./../../assets/cabinet.avif" alt="Today's Deal 2">
      <div class="deal-details">
        <h3>Wooden Cabinet</h3>
        <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et consequat lorem. Sed gravida ultricies eros.</p>
        <p>Regular Price: $500</p>
        <p>Today's Price: $450</p>
        <button class="add-to-cart">Add to Cart</button>
      </div>
    </div>
  </div>




  
