.todays-deal {
    padding: 20px;
  }
  
  .todays-deal h2 {
    margin-bottom: 20px;
  }
  
  .deal-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .deal-item img {
    width: 150px;
    height: 150px;
    margin-right: 20px;
  }
  
  .deal-details {
    flex: 1;
  }
  
  .deal-details h3 {
    margin-bottom: 10px;
  }
  
  .add-to-cart {
    background-color: #ff6f61;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .add-to-cart:hover {
    background-color: #e65245;
  }
  






  